p{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    background-color:black;
    background-size: cover;
    color: white;
    font-size: 30px;
    margin: 100px;
    border: 5px solid #000;

}
h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: underline;
    background-color: white;
    border: 5px solid #000;
    color:black;
    font-size: 70px;
}
h2{
    font-family: 'Oswald', sans-serif;
    text-align: center;

}
body{
    background-color: #808080;
}
img {
    border: 5px solid #000;
    border-radius: 50%;
    filter: grayscale(100%);

}
